/* Styles généraux */
body {
    font-family: 'Inter', sans-serif;
    background-size: cover;
    background-position: center;
    color: #7b8493;
    min-height: 100vh;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #d3d3d3; /* Gris clair */
    background-image: none; /* Pas d'image de fond */
    color: #000; /* Texte noir pour assurer le contraste */
    padding: 1rem 2rem; /* Ajustez les marges si nécessaire */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style pour les images */
.navbar img {
    transition: transform 0.3s;
}

.navbar img:hover {
    transform: scale(1.1);
}

/* Styles pour les boutons (non modifiés) */
.btn-circle {
    background-color: transparent;
    border: none;
    color: #fff;
}

.btn-circle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-ghost {
    color: #fff;
    transition: color 0.3s;
}

.btn-ghost:hover {
    color: #d1d5db;
}

.btn {
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* Styles pour les indicateurs */
.indicator .badge {
    background-color: #6366f1; /* Couleur de la badge */
    color: #fff;
}