/* TimeLine.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.timeline-container {
  padding: 2rem;
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

.timeline-heading {
    margin-left: -50px; /* Ajustez cette valeur selon vos besoins */
  font-size: 2.5rem; /* 32px */
  font-weight: bold;
  color: #4a5568; /* gray-700 */
  margin-bottom: 2rem; /* 32px */
  margin-top: -2rem; /* 32px */
}

.timeline-item {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0; /* gray-200 */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%; /* Utilise toute la largeur */
}

.timeline-item:hover {
  border-color: #cbd5e0; /* gray-400 */
  transform: translateY(-0.25rem);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.timeline-text {
    font-size: 1.119rem;
    font-weight: 500;
    line-height: 1.7;
    color: #2d3748;
    text-transform: none; /* Capitalize, uppercase, lowercase options */
    letter-spacing: normal; /* Adjust letter spacing if needed */
}

/* Responsive Design */
@media (max-width: 768px) {
  .timeline-container {
    padding: 1rem;
  }

  .timeline-heading {
    font-size: 1.5rem; /* 24px */
  }

  .timeline-item {
    padding: 1rem;
  }
}
